
#panel{
    background-color: #f2f2f2;
    font-family: sans-serif;
}

.panel_heading {
    border: 2px solid #f2f2f2;
    max-width: 400px;
    height: 600px;
    margin: 100px auto;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
}

.name {
    width: 341px;
    height: 40px;
    padding: 10px 12px;
    border-width: 1px;
    box-shadow: none;
    font-size: 17px;
    margin-bottom: 20px;
}
.pass {
    width: 341px;
    height: 40px;
    padding: 10px 12px;
    border-width: 1px;
    box-shadow: none;
    font-size: 17px;
    margin-bottom: 20px;
}

.panel_body {
    padding: 15px 15px 20px 15px;
}

.btn-login {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 341px;
    height: 48px;
    box-shadow: none;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    background-color: #4285f4;
    color: white;
    cursor: pointer;
}
input{
    border-radius:5px;
}
input:invalid {
    border-color: red;
}
input,
input:valid {
    border-color: #ccc;
}
#panel{
    position: relative;
}
#panel span{
    position: absolute;
    right: 39%;
    top: 54%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
  }
  #panel .pass input:valid ~ span{
    display: block;
  }
  #panel  span i.hide-btn::before{
    content: "\f070";
  }
  