* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #069;
}

.Group1 {
    display: flex;
}

header .title {
    display: flex;
    justify-content: center;
}

.title2{
    opacity: 0.9;
}

header .logo img {
    width: 110px;
    height: 110px;
}

header .username p {
    color: #fff;
    margin-top: 50px;
    font-size: 20px;
    margin-right: 100px;
}

header .title2 h2 {
    text-align: center;
    color: #fff;
    padding: 5px;
}

nav .group-user {
    float:right;
    margin-right: 10px;
    color: #fff;
    position: relative;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.group-user ul {
    padding:5px;
    width: 125px;
    position: absolute;
    top: 30px;
    background-color: #007dbb;
    border: 2px solid rgb(255, 255, 255);
    display: none;
}

.group-user ul li {
    list-style: none;
}

.group-user ul li a {
    text-decoration: none;
    color: white;
}

.group-user:hover .group-user-child {
    display: block;
}


.group-user-child::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 30px;
    top: -20px;
}

nav .group-menu ul li a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

nav {
    padding: 10px;
    background-color: #007dbb;
    height: 40px;
}

section{
    text-align: center;
}

section #menu {
    background-color: rgb(49, 43, 43);
    width: 17%;
    height: 700px;
    padding: 10px 0;
    float: left;
}

section #menu > ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.func-icon-right{
    margin-left: 20px;
    display:inline-block;
}
.func-icon-down{
    margin-left: 20px;
    display: none;
}
section #menu>ul>li {
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
section #menu>ul>li:hover{
    background-color: #324960;
}

section #menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
section #menu ul li a i{
    padding-right: 5px;
}

.more-func{
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}
.more-func i{
    margin-left: -3px;
}
.more-func-child{

    width: 100%;
    top: 50px;
     right: 3px;
     display: none;
}

.more-func-child li{  
    padding: 10px;
    border-bottom: 1px solid rgb(47, 47, 48);
    margin-bottom: 5px;
}
.more-func a{
    padding: 5px;
}

.more-func:hover .more-func-child{
    display: block;
}
.more-func:hover .func-icon-down{
    display: inline-block;
}
.more-func:hover .func-icon-right{
    display: none;
}

#showFunction {
    margin: 40px 0 0 5px;
    height:100%;
    float: right;
    width: 82%;
    border-radius: 5px;
}
#showFunction img {
    width: 97%;
}

.grid{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.grid-4{
    width: 23%;
    border-radius: 5px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
}
.grid-4 h3,.grid-4 .left p{
    color: white;
    font-size: 20px;
    margin: 10px;
}
.grid-4 .left p{
    text-align: center;
    font-size: 27px;
}
.grid-4 .left{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 80%;
}
.grid-4 .left i{
    margin-left:20px;
    font-size: 60px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}
.grid-4 .see-more{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(35, 33, 33, 0.1);    
}
.grid-4 .see-more a{
    text-decoration: none;
    color: white;
}
footer{
    border-top: 5px solid yellow;
    background-color: #007dbb;
    clear: both;
}
.logout{
    background-color: #007dbb;
}
.footer-contain{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 10px auto -10px auto;
}
.footer-contain p,.footer-contain h2{
    color: white;
    font-size: 16px;
}
.footer-contain-left{
    padding-right: 100px;
    border-right: 1px solid black;
}

.footer-contain-left p{
    max-width: 500px;
    margin: 5px 0;
    font-size: 12px;
}
.footer-contain-right{
    width: 50%;
    padding-left: 80px;
}
.footer-contain-right .contact{
    display: flex;
    margin-top: 20px;
}
.contact .contact-left a{
    text-decoration: none;
    color: black;
    color: rgb(212, 212, 212);
    font-size: 14px;
}

.contact .contact-left i{
    font-size: 20px;
    color: rgb(212, 212, 212);
    margin: 5px 5px;
}
.contact .contact-right{
    margin-left: 10px;
}
.contact .contact-right p{
    margin: 10px 10px;
}
.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    border: none;
    width: 97%;
    border-collapse: collapse;
    white-space: nowrap;
    background-color: white;
    margin-right: 10px;
}

.timkiem{
    margin: auto;
    width: 80% !important;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #2f8ae6;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
.title-table th{
    padding: 10px;
}
.title-table td{
    padding: 10px;
    float: left;
}
.btnSave {
    float: right;
    border: 1px solid #007dbb;
    border-radius: 5px;
    padding:5px 20px;
    background-color:#007dbb;
    color:white;
}
.btnSave:hover{
    cursor: pointer;
}
.edit_diem{
    border: 1px solid #ccc;
    padding:5px;
    width: 300px;
}
.edit_sinhvien{
    border: 1px solid #ccc;
    padding:5px;
    width: 200px;
}
.info_lop{
    border: 1px solid #ccc;
    padding:5px;
    width: 200px;
}
h1{
    margin: 30px;
    color:#094d6f;
}
.head_title{
    margin: 0 auto;
    width : 70%;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.input-css{
    padding: 5px 20px;
    outline: none;
}
.btn-submit-css{
    padding: 7px 10px;
    border: none;
    background-color: #007dbb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.back{
  margin-left: 10px;
  padding: 5px;  
  float: left;
  border: none;
  background-color: #007dbb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.page-css{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #007dbb;
    background-color: #007dbb;
}
.pagination{
    width: 94%;
}